/*Tags*/
p{
    color:#a54d4d;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
body{
    background-color: #aae7e3
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: green;
    height: 80px;
    padding: 20px;

    footer{
        clear: both;
        background-color: white;
        height: 50px;
        text-align: center;
        padding: 10px;
    }

    h1{
        color: white;
    }

/* IDs */
#div_principal{
    background-color: #0000ff;
    min-height: 200px;
    width: 40%;
    float: right;

}


/* Classes*/
.container{
    width: 960px;
    margin: auto;
}